@page
@model VAII_semestralna_praca.Pages.Authors.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Vymazať</h1>

<h3>Ste si istý, že chcete vymazať autora?</h3>
<div>
    <h4>Autor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Birth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Birth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Death)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Death)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Author.ID" />
        <input type="submit" value="Vymazať" class="btn btn-danger" /> |
        <a asp-page="./Index">Späť na zoznam</a>
    </form>
</div>
