@page
@model VAII_semestralna_praca.Pages.Poems.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Vymazať</h1>

<h3>Táto položka bude vymazaná.</h3>
<div>
    <h4>Báseň</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poem.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poem.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poem.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poem.Genre)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Poem.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Späť na zoznam.</a>
    </form>
</div>
